/* --------- general basic style of body */
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../images/train.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

p {
    color: whitesmoke;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

/* --------- quiz container layout and headings style */
.container {
    width: 90%;
    max-width: 600px;
    margin: 150px auto 0;
    border-radius: 10px;


}

.container h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(2, 21, 21);
    font-weight: 800;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid black;

}

.quiz h2 {
    font-size: 20px;
    color: rgb(2, 21, 21);
    font-weight: 600;
    text-align: left;

}

/* --------- answer buttons */

.btn {
    background: whitesmoke;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

/* --------- hover effect hidden when users select the button */

.btn:hover.btn:hover:not([disabled]) {
    background: #222;
    color: whitesmoke;

}

/* --------- disable the button  */
.btn:disabled {
    cursor: no-drop;
}

/* --------- the stule of next button */
#next {
    background: #050c18;
    color: whitesmoke;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: rgb(100, 168, 100);
}

.wrong {
    background: rgb(171, 92, 92);
}

/* --------- the layout of container with instructions and "GO" btn */
.wrapper {
    font-weight: 600;
    width: 60%;
    max-width: 600px;
    margin: 450px auto 0;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* --------- the style of "GO" button */
.start-btn {

    text-transform: capitalize;
    font-weight: 600;
    color: black;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hide {
    display: none;
}

/* --------- the footer area */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 2;
}

/* --------- the layout and style of the social media icons */

.social-links {
    width: 100%;
    text-align: center;
}

.social-links li {
    display: inline;
    text-decoration: none;
}

.social-links i {
    font-size: 150%;
    margin: 1%;
    color: rgb(119, 95, 49);
}

/* --------- audio player layout and text style */

.audio p {
    color: rgb(119, 95, 49);
    ;
    font-weight: 600;
}

audio {
    padding: 10px;
    margin: 10px;
}

/* --------- style for error page */
.error-page {
    background-image: none;
    background-color: rgb(2, 21, 21);
    ;
}

.wrap-container {
    margin: 250px 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}


/* For smaller screens sizes from 520px wide and down */

@media screen and (max-width: 520px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 500px;
        margin: 0;
        padding: 20px;


    }

    .wrapper {
        margin: 150px auto 0;

    }

    .start-btn {
        margin-top: 50px;
        padding: 10px;
        margin-right: 25px;
    }

    p {
        color: rgb(2, 21, 21);
    }

    audio {
        width: 200px;
    }

}